body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/cropped-1366-768-757554.png');
    background-position: center;
}

.enviar {
    width: 70px;
    border-radius: 15px;
    margin: 10px 100px /*top, left, bottom, right*/
}

.input {
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    width: 700px;
    background-color: rgba(166, 166, 166, 0.82);
    border-color: rgb(65, 65, 75);
} 

.legend {

    display: flex;
    justify-content: center;
    align-items: center;
}

.marginTp {
    margin: 0 120px 20px 120px;
}
